<form method="post" action="{% url 'ct_delete' ct.invoice.id ct.id %}" class="js-ct-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Xác Nhận Xóa</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Bạn Có Chắc Chắn Muốn Xóa <strong>{{ ct.id }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <button type="submit" class="btn btn-danger">Xóa</button>
  </div>
</form>
