<form method="post" action="{% url 'piin_update' id=pii.invoice.id pk=pii.id  %}" class="js-piin-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Cập Nhật Hóa Đơn Nhập</h4>
  </div>
  <div class="modal-body">
    {% include 'includes/partial_piin_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <button type="submit" class="btn btn-primary">Cập Nhật</button>
  </div>
</form>
