<form method="post" action="{% url 'productsout_create' %}" class="js-productsout-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Tạo Công Thợ Cho Hàng Xuất</h4>
  </div>
  <div class="modal-body">
    {% include 'productsout/includes/partial_productsout_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <button type="submit" class="btn btn-primary">Tạo Công Thợ</button>
  </div>
</form>
