<form method="post" action="{% url 'congtho_delete' congtho.id %}" class="js-congtho-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Xác Nhận Xóa Một Hàng Xuất</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Bạn Có Chắc Muốn Xóa Hàng Xuất Này Không <strong>{{ congtho.name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <button type="submit" class="btn btn-danger">Xóa Hàng Xuất</button>
  </div>
</form>
