<form method="post" action="{% url 'customer_create' %}" class="js-customer-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Tạo Một Khách Hàng</h4>
  </div>
  <div class="modal-body">
    {% include 'customers/includes/partial_customer_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <button type="submit" class="btn btn-primary">Tạo Khách Hàng</button>
  </div>
</form>
